{
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },  
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },  
  "rules": {
    "indent": [ 2, 4, "tab", {"SwitchCase": 1} ], 
    "react/jsx-indent-props": [2, "space"]
  }, 
}